@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Raleway:wght@300;400;500&display=swap');
Sans-serif

header {
    margin: 0;
    padding: 0;
    height: 160px;
    
}





/*-------Navigation-----*/

.navbar {
  float: right;
}

.navmenu {
    margin-top: -80px;
    padding: 0;
    font-family: 'Montserrate', sans-serif;
    font-weight: 20px;
    margin-bottom: 30px;
    margin-right: 20px;

}





/*-------Logo-----*/
.logo {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: -30px;

}

.logo h1 {
   color: #fafafa;
   text-align: left;
   height: 80px;
   background-color: #072446;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-right: 20px;
   display: block;
   font-family: 'Monstserrat', sans-serif ;
   font-weight: 600;
}

.logo a i {
    color: #e1aa12;
    margin-bottom: 20px;
    line-height: 45px;
    padding-top: 22px;
    font-size: 20px;
    padding: 20px;
}

.header-icon {
    padding-left: 20px;
}


.navbar-light .navbar-toggler {
    background-color: #e1aa12;
    border: none;
    margin-top: -110px;
    margin-right: 20px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fafafa;
    font-family: 'Monstserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0.3rem;
}


.menu li {
  float: right;
  margin-right: 30px;
  margin-top: 0px;
  padding: 0px;
  color: #fafafa;

}

.navbar-expand-lg .navbar-collapse{
    background-color: #072446;
    
}

/*-------Logo-----*/

/*.hero-image {
    height: 600px;
    width: 100%;
    background-image: url(../assets/images/plank-hero.jpg);
    background-repeat: no-repeat;
    
    
}*/

